@charset "utf-8";
/* CSS Document */
table
{
	background-color:   #9EEDE2;
	border-radius: 20px;
	font-family: "Times New Roman";
	
}
p
{
	color: #F7060A;
	font-size: 15px;
}

p.header1
{
	font-size: 40px;
}

body
{
	font-family:  "Times New Roman";
	font-size: 20px;
	
}
lable.size
{
	font-size:5px;
}
.reg
{
	justify-content: center;
    flex: wrap;
    display:block;
	margin-top: 50px;
}